
<h1>Contact your Teachers!</h1>
<form id="contactForm"> 
  <label for="Name">Name:</label>
  <input type="text" id="Name"><br> 

  <label for="Teacher">Teacher:</label>
  <input type="text" id="Teacher"><br> 

</form>
